html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    min-width: 500px;
}

main {
    display: flex;
    flex-grow: 1;
}

#map {
    width: 500px;
    height: 700px;
    box-shadow: 0 0 20px rgb(150, 150, 150);
}

.left-container {
    height: 100%;
    width: 400px;
    background-color: black;
}

.right-container {
    height: 100%;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
}
