html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    min-width: 500px;
}

main {
    display: flex;
    flex-grow: 1;
}

#map {
    width: 500px;
    height: 700px;
    box-shadow: 0 0 20px rgb(150, 150, 150);
}

.left-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 400px;
    background-color: rgb(248, 249, 251);
}

.right-container {
    height: 100%;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

nav {
    display: flex;
    justify-content: space-between;
}

.nav-text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-decoration: none;
    gap: 10px;
    padding: 25px 0;
    width: 100%;
    height: 50px;
    border: 0;
    cursor: pointer;
    background-color: #f8f9fb;
}

.nav-text:hover {
    background-color: rgb(243, 243, 243);
}

.nav-icon {
    width: 40px;
}

.content {
    flex-grow: 1;
    display: none;
    color: black;
}

#place:target,
#style:target,
#text:target,
#size:target {
    display: block;
}

body:not(:has(#style:target)):not(:has(#text:target)):not(:has(#size:target)) #place {
    display: block;
}

.left-container-footer {
    border-top: 1px solid rgb(194, 194, 194);
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #e8ebed;
    padding: 0;
    padding: 40px 0 40px 0;
    box-sizing: border-box;
}

.generate {
    background: black;
    color: white;
    width: 90%;
    padding: 10px 0;
    border: none;
    cursor: pointer;
}

.place-content {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.search-place {
    width: 90%;
    padding: 10px;
    box-sizing: border-box;
    outline: none;
    border: 1px solid rgb(199, 199, 199);
    box-shadow: 0 3px 3px 0 rgb(234, 234, 234);
}
