html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
}

#map {
    width: 50%;
    height: 70%;
}

.left-container {
    height: 100%;
    width: 25rem;
    background-color: black;
}
